@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body{
    background: #B1D4E0;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    margin: 0;
}